/* @formatter:off */
footer {width: 100%;margin: 0;background-color: var(--bylan-secondaryBg);}
footer a:first-of-type,
footer a:first-of-type img {display: flex;text-align: left;}
footer div.row a {font-weight: bolder;text-decoration: none;color: var(--bylan-primaryFont);}
footer div.row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer div.row:first-of-type {padding: 10px 20px 0 0;}
footer div.row div {text-align: left;line-height: 1.4em;}
footer div.row:last-of-type {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 680px) {
    footer div.row {
        width: 95%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px 30px 15px 0;
    }
    footer div.row div {padding: 20px 0 0 15px;width: 95%;line-height: 1.4em;}
}