/* @formatter:off */
:root {
    --bylan-green: #378e9d;
    --bylan-pink: #af1e94;
    --bylan-purple: #61167b;

    --bylan-primaryBg: #1F2937;
    --bylan-primaryFont: #fff;
    --bylan-secondaryBg: #111827;
    --bylan-secondaryFont: #dedede;

    --inputError: #ff3860;
    --inputSuccess: #09c377;
}

* {  margin: 0; padding: 0; box-sizing: border-box; }
body {  margin: 100px auto 0 auto; color: var(--bylan-primaryFont); background-color: var(--bylan-primaryBg); font-family: sans-serif; }
main {margin: 0 auto; min-width: 300px; max-width: 1280px; }
h1, h2  { padding: 40px; letter-spacing: 0.15em; line-height: 1.5em; text-transform: uppercase; }
p { letter-spacing: 0.05em; line-height: 1.5em; padding: 20px;}
h1,h2, p.intro, span {text-align: center; display: flex; justify-content: center; }
p.intro span { overflow:hidden; width: 70%;}
header > a,
footer > a,
img.logo { width: 65px; }
img.logo { padding-top: 10px; padding-bottom: 5px;}
ul { list-style-type: none; display: flex; justify-content: space-evenly; }
div.loader { content: url("../media/loader.gif"); margin: 0 auto; }
main.mainHome {padding: 0; margin: 0;}

div.row { display: flex; flex-wrap: wrap; max-width: 100%; gap:20px; margin: 0 auto; justify-content: center; }
div.row-item { flex:2;}


/* ABOUT PAGE */
main.mainAbout h2 { width: 100%; text-align: center; }
main.mainAbout .row-item {height: fit-content; max-width: fit-content; background-color: var(--bylan-secondaryBg);}
main.mainAbout div.row div.row-item p { width: 100%; padding: 5px 0; text-align: center;  }

main.mainAbout div.row div.left-align { max-width: 700px;}
main.mainAbout div.row div.left-align p { padding: 20px; line-height: 1.5em; width: 100%; overflow: hidden; text-align: center;}
/*****************/




/* */

/*******   BREAKPOINTS  ********/
@media only screen and (max-width: 638px) {
    p.intro span { width: 95%;}
    main.mainAbout div.row div.left-align { max-width: 1280px; height: fit-content;}
    main.mainAbout div.row div.left-align p { padding: 20px; line-height: 1.5em; max-width: 100%; overflow: hidden; text-align: center;}
}

/* Use to avoid row with 3 and 2 on about page */
@media only screen and (min-width: 640px) {
    div.row-item {}
    /* main#mainAbout div.row {margin: 0 auto; width: 700px; }  /**/
}

@media only screen and (min-width: 1280px) {
   /* main#mainAbout div.row { width: 1600px; } /**/
}

@media only screen and (min-width: 640px) {
   /* main#mainAbout div.row { max-width: 1300px;  } /**/
    div#hideForm { max-width: 100%; }
}
