/* @formatter:off */
:root {
    --bylan-green: #378e9d;
    --bylan-pink: #af1e94;
    --bylan-purple: #61167b;

    --bylan-primaryBg: #1F2937;
    --bylan-primaryFont: #fff;
    --bylan-secondaryBg: #111827;
    --bylan-secondaryFont: #dedede;

    --inputError: #ff3860;
    --inputSuccess: #09c377;
}

* {  margin: 0; padding: 0; box-sizing: border-box; }
body {  margin: 0 auto; color: var(--bylan-primaryFont); background-color: var(--bylan-primaryBg); font-family: sans-serif; }
h1, h2  { padding: 20px 0; letter-spacing: 0.11em; text-transform: uppercase; }
header > a,
footer > a,
img.logo { width: 65px; }
header a:first-of-type img { padding-top: 10px; padding-bottom: 5px;}
main { margin-top:90px; padding: 0 20px;}
ul { list-style-type: none; display: flex; justify-content: space-evenly; }
div.loader { content: url("../media/loader.gif"); margin: 0 auto; }
main.mainHome {padding: 0; margin: 0;}
main.mainHome,
main.mainAbout,
main#mainContact { min-width:300px; max-width: 1280px; }
p.intro { padding-bottom: 40px; overflow: hidden; max-width: 71ch; line-height: 1.5em; }
div.row-wrapper,
div.row { display: flex; flex-wrap: wrap; flex-direction: row;}
div.row { justify-content: left; padding-bottom: 60px; max-width: 100%; gap:20px; }
div.row-dual { display: flex; flex-direction: row; justify-content: left; max-width: 100%; gap:20px; }
div.row-item { background-color: var(--bylan-secondaryBg); }
div.col-item { }
section { display: flex; flex-wrap: wrap; max-width: 100%; }
main.mainAbout div.left-align:last-of-type p { padding: 20px; line-height: 1.5em; max-width: 80ch; overflow: hidden; }
main div.row:last-of-type { max-width:620px; }

/* ABOUT PAGE */
main.mainAbout div.row-item p { width: 100%; padding: 5px 0; text-align: center;  }
main.mainAbout div.row-item:last-of-type p { text-align: left;}

/*   BREAKPOINTS  */
@media only screen and (max-width: 638px) {
    main {width: 90%;}
    main h2 {width: 100%; text-align: center; }
    div.row,
    div.row-item,
    main > h1, main > h2 { margin: 0 auto;}

    /* h1, h2, p.intro { text-align: center;} /**/
}

/* Use to avoid row with 3 and 2 on about page */
@media only screen and (min-width: 640px) {
    main {margin: auto auto 0 auto; }
    main div.row { width: 700px; }  /**/
}

@media only screen and (min-width: 1280px) {
    main div.row { width: 1600px; }
}

@media only screen and (min-width: 640px) {
    main div.row { max-width: 1300px; }
    div#hideForm { max-width: 100%; }
}
