* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: sans-serif;

}

p {
    overflow: hidden;
    max-width: 70ch;
}

#boxCTA {
    display: none;
}


#boxHeader {
    justify-content: space-between;
}

#menuItems a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

/*
.grid-container {
    margin: 0 auto;
    max-width: 80%;
    height: 90vh;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas:
    "one one one one"
    "two three three four"
    "two three three four"
    ". five five . "
    "six six six six";
}

.grid-item {
    border-radius: 1em;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
}

.grid-item:nth-child(1) {
    grid-area: one;
    background-color: #222e50;
}

.grid-item:nth-child(2) {
    grid-area: two;
    background-color: #007991;
}

.grid-item:nth-child(3) {
    grid-area: three;
    background-color: #439a86;
}

.grid-item:nth-child(4) {
    grid-area: four;
    background-color: #f6511d;
}

.grid-item:nth-child(5) {
    grid-area: five;
    background-color: #c1292e;
}

.grid-item:nth-child(6) {
    grid-area: six;
    background-color: #f99120;
}



@media (max-width: 940px) {
    .grid-container {
        grid-template-areas:
      "one one"
      "three two"
      "three four"
      "five five"
      "six six";
    }
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-areas:
      "one one"
      "two three "
      "four three"
      "five five"
      "six six";
    }
}

@media (max-width: 460px) {
    .grid-container {
        grid-template-areas:
      "one"
      "four"
      "three"
      "five"
      "six";
    }
}